.card {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}
.view-btn{
    background: #22c55e;
    padding: 8px 10px;
    border: 2px solid ;
    border-radius: 10px;
}

.label {
    font-weight: 500;
    font-size: 18px;
}

.value {
    font-weight: bold;
    margin-top: 5px;
}

.user-card {
    background-image: linear-gradient(to right, #fff, #f59e0b);
    box-shadow: 5px 5px 0 #f59e0b;
}

.a-card {
    background-image: linear-gradient(to right, #22c55e, #f59e0b);
    box-shadow: 5px 5px 0 #f59e0b;
}

.w-card {
    background-image: linear-gradient(to right, #fff, #22c55e);
    box-shadow: 5px 5px 0 #22c55e;
}

.t-card{
       background-image: linear-gradient(to right, #f59e0b, #22c55e);
    box-shadow: 5px 5px 0 #22c55e;
}