.card{
    border: 1px solid ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #ebe9e9;
}
.action{
    border:1px solid #222 ;
    background-color: #ebe9e9;
    color: #222;
    padding: 5px 10px ;
    border-radius: 5px;
    font-weight: 400;
}