@import "tailwindcss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fullscreen-drawer {
  width: 100vw;
  height: 100vh ;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; 
}
.form-box{
    border: 2px solid #f59e0b;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: flex ;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}
.form-box label{
    font-weight: bold;
}
.form-box input{
    background-color: #fef9c3;
    padding:  10px 10px;
    border-radius: 5px;
    width: 100%;
}
.save-btn{
    background-color: #f59e0b;
    padding: 10px 0;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}
